<ion-view title="{{request.title}}" hide-back-button="true">
  <ion-content class="has-header">
    <div>
      <videogular vg-player-ready="onPlayerReady" vg-complete="onCompleteVideo" vg-theme="config.theme" vg-responsive="true">
        <vg-buffering></vg-buffering>
        <vg-overlay-play vg-play-icon="config.theme.playIcon"></vg-overlay-play>
        <video 
          preload='metadata'
          poster="{{request.thumbnail}}"
          controls
          webkit-playsinline="true">
        </video>
        <vg-controls vg-autohide="config.autoHide" vg-autohide-time="config.autoHideTime" style="height: 50px;">
          <vg-play-pause-button></vg-play-pause-button>
          <vg-timeDisplay>{{ currentTime }}</vg-timeDisplay>
          <vg-scrubBar>
            <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
          </vg-scrubBar>
          <vg-timeDisplay>{{ totalTime }}</vg-timeDisplay>
          <vg-volume>
            <vg-mutebutton></vg-mutebutton>
            <vg-volumebar></vg-volumebar>
          </vg-volume>
          <vg-fullscreenButton vg-enter-full-screen-icon="request.thumbnail" vg-exit-full-screen-icon="request.thumbnail"></vg-fullscreenButton>
        </vg-controls>
      </videogular>
      <div class="button-bar">
        <a href="#/app/parties/{{request.party_id}}" class='button'>back</a>
        <like-button class='button'></like-button>
        <button 
          class='button' 
          ng-if="request.user.id == currentUser.id || party.user.id == currentUser.id" 
          ng-click='deleteRequest(request.id)'>
          delete</button>
      </div>
      <div class='row'>
        <div class='col col-100'>
          <div class="item item-avatar">
            <img ng-src="{{request.user.thumbnail}}">
            <h2>by: {{request.user.name}}</h2>
            <p>{{request.created_at | timeago }}</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row" ng-if="request.likes"><h4 class=''>Likes</h4></div>
      <div class="row" ng-repeat="like in request.likes">
        <div class="col col-75">
          <div class="item item-avatar">
            <img ng-src="{{like.user.thumbnail}}">
            <h2>{{like.user.name}}</h2>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>